.btn{
    padding: 10px 20px;
    box-shadow: none !important;
    border-radius: var(--border-radius);
}

.btn-link{
   color: var(--color-primary);
}

.btn-primary{
    background-color: var(--color-primary-700);
    border:none;
}
.btn-primary:hover{
    background-color: var(--color-primary-500);
}
.btn-primary:focus{
    background-color: var(--color-primary-500);
    box-shadow: var(--shadow-btn) rgba(var(--primary), var(--alpha-low)) !important;
}
.btn-primary:active{
    background-color: var(--color-primary-800);
}

.btn-secondary{
    background-color: var(--color-secondary-700);
    border:none
}
.btn-secondary:hover{
    background-color: var(--color-secondary-500);
}
.btn-secondary:focus{
    background-color: var(--color-secondary-500);
    box-shadow: var(--shadow-btn) rgba(var(--secondary), var(--alpha-low)) !important;
}
.btn-secondary:active{
    background-color: var(--color-secondary-800);
}


/* outline*/
.btn-outline-primary{
    border-color: var(--color-primary-700);
    color: var(--color-primary-700);
}
.btn-outline-primary:hover, .btn-outline-primary:focus{
    background-color: var(--color-primary-500);
    color: var(--color-white);
}
.btn-outline-primary:active{
    background-color: var(--color-primary-800);
    color: var(--color-white);                      
}

.btn-outline-secondary{
    border-color: var(--color-secondary-700);
    color: var(--color-secondary-700);
}
.btn-outline-secondary:hover, .btn-outline-secondary:focus{
    background-color: var(--color-secondary-500);
    color: var(--color-white);
}
.btn-outline-secondary:active{
    background-color: var(--color-secondary-800);
    color: var(--color-white);                      
}